body {
    background-image:url(http://www.forodefotos.com/attachments/ordenadores/24485d1316183697-fondos-de-pantallas-fondos-pantalla-3d-mariposa.jpg);
}
h1   {
    text-align:center;
    font-size:70px;
    font-family:arial;
}
img  {
    width:500px;
}
p    {
    text-align:center;
    font-size:50px;
}
strong {
    font-size:40px;
}
    
p   {
    font-family:serif;
}

 