 body{
  font-family:arial;
  margin:0;
 }
 
 .header{
    background-color:#303030;
    height:95px;
  }
  
 .container{
    width:820px;
    margin:0 auto;
  }
  
  .logo{
   color:white;
   font-family:arial;
   border-left:10px solid #B41717;
   padding-left:10px;
   float:left;
  
  }
  
  .logo span{
   color:#676767;
   font-weight:normal;
  }
  
  .menu{
   list-style:none;
   padding-left:0px;
   float:right;
   margin-top:35px;
  }
  
  .menu li{
   margin-right:20px;
    font-weight:bold;
    font-size:14px;
   
  }
  
  .menu a{
   color:#ccc;
   text-decoration:none;
   text-transform:uppercase;
  
  }
  
  
 .menu a:hover{
    color:#fff;
    text-decoration:underline;
 }
   
  h2,
  h3 {
  font-weight:normal;
 }
 

  h3  {
 text-transform:uppercase;
 border-bottom: 1px solid #ccc;
 
} 
 
 .table {
  border:1px solid #ccc;
  border-collapse:collapse;
  width:100%;
 }
 
 .table th,
 .table td{
  border:1px solid #ccc;
  padding:3px 10px;
 }
 
 .table th{
  text-align:left;
  background:#eee;
 }
 
 .box {
  background:#c92828;
  color:#fff;
  border-radius:10px;
  padding:20px;
  margin-top:30px;
  overflow:auto;
  
 }
 
 .box .left {
  float:left;
  width:500px;
 }
 
  .box .right{
   border-left:1px solid #E29695;
  box-sizing:border-box;
  padding-left:10px;
  width:280px;
  float:left;
  }
  
 .box .right span {
  color:#DE8495;
  
 }
 
.box .right p{
 margin-top:0;
} 
 
 .footer{
  background:#303030;
  height:70px;
 }
 
 .footer p{
  color:#fff;
  text-align:right;
  padding-top:25px;
 }
  
  .footer.container{
   margin-top:100px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
 }
 
 
 
   
  